
//search 

.product_form {
    position: absolute;
    top: 9px;
    right: 80px;
    z-index: 2;
}

.product_form #searchform {
    position: relative;
    top: 0;
    left: 0;
    text-align: right;
    i {
        font-size: 30px;
        position: absolute;
        left: 5px;
        z-index: 1;
        line-height: 1;
    }
}
:focus {
    outline: none;
}
.product_form #searchform #s:focus {
    background: url(../images/magnifying_focus.png) no-repeat 6px 4px;
    width: 196px;
    background-color: #fff;
    z-index: 1;
}
.product_form::-webkit-input-placeholder {
    color: #808080;
}
.product_form:-moz-placeholder {
    /* Firefox 18- */
    
    color: #808080;
}
.product_form::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #808080;
}
.product_form:-ms-input-placeholder {
    color: #808080;
}
.product_form #searchform #s {
    float: right;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    transition-duration: 400ms;
    transition-property: width, background;
    transition-timing-function: ease;
    width: 26px;
    
    color: #000;
    cursor: pointer;
}
.product_form #searchform input#s {
    background: none;
    border-radius: 0;
    font-size: 14px;
    height: 30px;
    line-height: 1.2em;
    padding: 0 0 0 35px;
    margin: 0;
    border: none;
    color: #000;
    position: relative;
     z-index: 10;
    
}
.product_form #searchform #searchsubmit {
    display: none;
}




/*Shopping Cart Drop down-----------------------------------*/

#add-to-cart {
	margin-left: 0px;
	margin-top: 15px;
	position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
}
#add-to-cart .mini-cart.active-cart {
	width: 56px;
}
#add-to-cart .mini-cart {
	width:29px;
	margin:0 0 0 10px;
	float: right;
}
#add-to-cart .mini-cart a.cart-parent span {
	display: none !important;
}
#add-to-cart .mini-cart.active-cart a.cart-parent span {
	display: block !important;
}
#add-to-cart .mini-cart.active-cart > li a.cart-parent {
	display: block;
    padding: 0 0 0 30px;
    text-align: left;
    color: #000;
    position: relative;
    font-size: 26px;
    width: auto;
    height: 32px;
    &:after {
    content: "\f3f8";
    display: inline-block;
    font-family: "Ionicons";
    position: absolute;
    }
}
.cart-parent .amount {
	display:none !important;
}
#add-to-cart .nav li ul ul {
	margin: -37px 0 0 180px;
	font-family: 'AvenirLT-Light';
}
#add-to-cart ul.mini-cart li:hover {
	position: static;
}
#add-to-cart ul.mini-cart li:hover ul.cart_list {
	right: 0;
	top: 32px;
}
#add-to-cart ul.mini-cart li {
	text-align: right;
	width: auto;
	list-style:none;/* The cart contents drop down */
}
#add-to-cart ul.mini-cart li a {
	border-right: 0;
	border-bottom: 0;
}
#add-to-cart ul.mini-cart li:last-child {
	border-bottom: 0;
	width: auto;
}
#add-to-cart ul.mini-cart li:hover ul.cart_list.active {
	display: block!important;
	visibility: visible!important;
}
#add-to-cart ul.mini-cart li:hover ul.cart_list {
	display: none!important;
	visibility: hidden!important;
}
#add-to-cart ul.mini-cart li ul.cart_list {
	display: none!important;
	visibility: hidden!important;
}
#add-to-cart ul.mini-cart li.open ul.cart_list {
	display: block!important;
	visibility: visible!important;
}
#add-to-cart ul.mini-cart li ul.cart_list {
	position: absolute;
	right: -999em;
	display: block;
	z-index: 999;
	width: 400px;
	padding: 7px 0px 0;
	margin: 0 0 0 -140px;
	color: #fff;
	background: #fff;
	border: 2px solid #bf9d3e;   /* The totals */  /* The buttons */
}
#add-to-cart .mini-cart .arrow {
	
}
#add-to-cart .mini-cart.active-cart .arrow {
	content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #bf9d3e;
    margin-left: 0;
    z-index: 9;
    display: none;
    /* text-indent: -999em; */
}

#add-to-cart ul.mini-cart li ul.cart_list li {
	padding: 22px 15px;
	float: none;
	border: 0;
	text-align: left;
	font-size:12px;
	line-height:16px;
	display: block;
	border-bottom: 1px solid #dfdfd9;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart-title {
	border: 0;
	text-align: left;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart-title h3 {
	margin: 0;
	color: #221e1a;
	font-size:13px;
	line-height: 17px;
}
#add-to-cart ul.mini-cart li ul.cart_list li .grn-link {
	font-size:13px;
	background:none;
	border:none;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product {
	text-align: left;
	overflow: hidden;
	zoom: 1;
	clear: left;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product:first-child {
	border-top: 0;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product .crop-img {
	margin:0 15px 0 0;
	width: 75px;
    height: inherit;
	overflow:hidden;
	float: left;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product img {
	float: left;
	padding: 0;
	background: #fff;
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
	margin:0;
	width:100%;
    height: inherit;
}
#add-to-cart ul.mini-cart li ul.cart_list .cart-header {
	padding: 10px 20px;
    overflow: hidden;
	border-bottom: 1px solid #dfdfd9;
}
#add-to-cart ul.mini-cart li ul.cart_list .cart-header h4 {
	margin: 2px 0 0;
	text-align:left;
	float:left;
	font-size:13px;
	line-height:15px;
	color:#606052;
	
}


/* Special Class */
#add-to-cart ul.mini-cart li ul.hovered {
	right: 0px!important;
	top: 38px !important;
	display: block !important;
	visibility: visible !important;
}

#add-to-cart ul.mini-cart li ul.cart_list .cart-header span {
	display:inline-block;
	
	color: #00a377;
	font-size:13px;
}
#add-to-cart ul.mini-cart li ul.cart_list .cart-header .timer {
	text-align:right;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product a {
	border: 0;
	margin: 0px;
	text-align:left;
	padding: 0;
	font-size: 12px;
	line-height:16px;
	font-weight:100;
	color:#231e1a;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product a h3 {
	font-size: 12px;
	line-height:16px;
	text-decoration: none!important;
	background: none;
	font-weight:100;
	color:#000;
	display:block;
	margin:0;
	width:82%;
    

}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product .price {
	visibility:visible !important;
	
	color:#221e1a;
	margin:4px 0 0;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product a:hover {
	text-decoration:none;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product dl.variation {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 0;
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
#add-to-cart ul.mini-cart li ul.cart_list li.cart_list_product dl.variation dt {
	float: left;
	clear: left;
	font-weight: 700;
}
#add-to-cart ul.mini-cart li ul.cart_list li.total {
	color: #000;
   font-size: 14px;
     line-height: 1;
    padding: 15px 20px;
   
}
#add-to-cart ul.mini-cart li ul.cart_list li.total .amount {
	color: #bf9d3e;
}
#add-to-cart ul.mini-cart li ul.cart_list li.total strong {
	margin:0 8px 0 0;
	
}
#add-to-cart ul.mini-cart li ul.cart_list li.total .btn {
	margin:0;
	padding: 0;
    border: none;
    font-size: 14px;
     line-height: 1;
}
#add-to-cart .mini-cart .sf-sub-indicator {
	display: none!important;
}
#add-to-cart .mini-cart > li {
	padding: 0 0 0 0;
}
#add-to-cart .mini-cart > li ul.cart_list {
	display: none!important;
	visibility: hidden!important;
}
#add-to-cart .mini-cart > li:hover {
}
#add-to-cart .mini-cart > li a.cart-parent {
	display: block;
	padding: 0px;
	text-align: left;
	color: #000;
	
}
#add-to-cart .mini-cart > li:hover a.cart-parent {
	text-decoration: none;
	
}
#add-to-cart .mini-cart a.cart-parent span {
	display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    position: absolute;
    top: -4px;
    left: 9px;
    background: #bf9d3e;
    border-radius: 50%;
}
#add-to-cart .mini-cart a.cart-parent span mark {
	font-size: 11px;
    display: block;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    text-shadow: none;
    line-height: 20px;
    position: relative;
    left: 1px;
    padding: 0;
}
#add-to-cart .mini-cart a.cart-parent mark {
	display: block;
	font-size: 0.6em;
	font-style: normal;
	font-weight: bold;
	position: relative;
	background: none;
	color: #fff;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}



// Select

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $primary;
    width: 100%;
    height: 45px;
    @include reg();
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 15px;
    @include easing();
    border: 1px solid $primary; 
    &:after {
        content: "";
        width: 0; 
        height: 0;
        border: 7px solid transparent;
        border-color: $primary transparent transparent transparent;
        position: absolute;
        top: 17px;
        right: 10px;
    }
    &:hover {
        background-color: $default;
    }
}

.select-styled:active, .select-styled.active {
    background-color: #fff;
}
.select-styled:active:after, .select-styled.active:after {
    border-color: $primary transparent transparent transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border-bottom: 1px solid $primary;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    li {
        color: $dark;
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid $primary;
        @include easing();
        &:hover {
            color: #fff;
            background: $primary;
        }
    }
}

.select-options li[rel="hide"] {
  display: none;
}

.woocommerce-ordering {
    margin-right: 15px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 14px;
    text-transform: uppercase;
    background: $primary;
    border-radius: 0;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 30px;
    display: inline-block;
    width: auto;
    &:hover { 
        background:$primary;
        color:#fff;
    }
    /*
    border-radius: 0;
    background: $primary;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    
    &:hover {
        background:$primary;
        color:#fff;
    }
    */
}
 
form.woocommerce-checkout {
    background: #fff;
    padding: 20px;
    margin: 0 auto 40px;
    .form-row {
        label {
            line-height: 1;
        }
    }
    input, textarea {
        // width: 100%;
        padding: 12px;
        border: 1px solid $primary;
    }
    input[type=submit] {
        border: none;
        padding: 15px;
    }
}

// Products

.products {
    .header-img {
        margin: 0 auto 30px;
    }
    margin: 20px auto;
    li {
        margin-bottom: 30px;
        a {
            img {
                width: 100%;
                height: auto;
            }
            display: block;
           
            &.woocommerce-LoopProduct-link {
                position: relative;
                /*
                &:before {
                    position: absolute;
                    content: '';
                    width: auto;
                    height: auto;
                    background: #fff;
                    border: 1px solid $primary;
                    top: 15px;
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    @include easing();
                    transform: scale(0.5);
                    opacity: 0;
                }
                &:after {
                    position: absolute;
                    content: 'VIEW';
                    color: $primary;
                    width: 200px;
                    height: 50px;
                    top: 50%;
                    left: 50%;
                    margin-top: -25px;
                    margin-left: -100px;
                    text-align: center;
                    font-size: 18px;
                    line-height: 50px;
                    @include easing();
                    opacity: 0;
                } 
            */
                
                &:hover {
                    &:before {
                        transform: scale(1);
                        opacity: 1;  
                    }
                    &:after {
                        opacity: 1;  
                    }
                }
            }
        }
        .product-meta {
            background: #fff;
            padding: 30px;
            text-align: center;
            h3 {
                margin: 0 auto 10px;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            .woocommerce-LoopProduct-link {
                &:before {
                    display: none;
                } 
            }
        }
    }
}

.images {
    img {
        width: 100%;
        height: auto;
    }
}

.content {
    .single-product {
        margin: 30px auto;
    }   
}
.entry-summary {
	[itemprop="description"] {
		a {
			text-decoration: underline;
		}
	}

}
.variations {
	.label {
		color: #bf9d3e;
		font-size: 1.25em;
		font-family: GenerellTWRegular;
	}
}

.woocommerce #content .products .price {
	color: #bf9d3e;
	font-size: 1.25em;
	display: block;
	margin: 0 0 10px;
}

.woocommerce .product .cart {
	margin-top: 2em;
}


.woocommerce button.button.alt.disabled {
	    background: #bf9d3e;
}


.quantity {
    display: inline-block;
    input {
        height: 45px;
        text-align: center;
        display: inline-block;
        max-width: 120px;
        border: 1px solid;
    }
}

.summary {
    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 24px;
    }
}
.single_add_to_cart_button {
    display: inline-block;
    height: 45px;
    background: $primary;
    border: none;
    color: #fff;
    width: 120px;
    margin-left: 20px;
}

.woocommerce-message, .woocommerce-info {
    background: #fff;
    padding: 15px;
    @include reg();
    font-size: 16px;
    border: none;
    margin: 0 auto 20px !important;
    &:before {
        color:$primary;
    }
}

.fine-print {
	margin:40px auto 0; 
    .entry-content {
        margin: 0 auto 20px;
    }
    h3 {
	    font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    ul {
        text-align: left;
        li {
            line-height: 1.1;
            margin: 0 auto 5px;
            text-decoration: none;
            font-size: 1.2em;
            &:hover {
                text-decoration: none;   
            }
        }
    }
}

.summary {
    .entry {
        padding-top: 0;
        padding-bottom: 30px;
    }
}

.woocommerce div.product p.price {
    color: $primary;
}

.cart_item {
    border-bottom: 1px solid $dark;
    .product-thumbnail {
        a {
            img {
                width: 120px;
            }
        }
    }
    .product-name {
        a {
            font-size: 18px;
        }
    }
}

.cart_totals  {
    background: #fff;
    padding: 20px;
    margin: 20px auto 40px;   
    h2 {
        margin: 0 auto 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    tr {
        border-bottom: 1px solid $default;
        height: 30px;
        line-height: 30px;
    }
    .button {
        display: block;
        padding: 20px;
        margin: 0 auto;
        text-transform: uppercase;
    }
}


.woocommerce a.button.alt {
    background: $primary;
    &:hover {
        background: $dark;
    }
}

.woocommerce table.shop_table {
    background: #fff;
    border-radius: 0;
    border: none;
}

.woocommerce a.remove {
    margin: 0 auto;
}

.select-hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.woocommerce-checkout #payment {
    background: #fff;
    border-radius: 0;
}

.woocommerce form.login, .woocommerce form.register {
    border: none;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 0;
    background: #fff;
    input {
        padding: 12px;
        border: 1px solid $primary;
    }
}

.custom_checkbox {
    margin: 20px auto 0;
    h3 {
        margin: 0 auto;
    }
    .checkbox {
        width: 100px !important;
        display: block !important;
        padding-left: 20px !important;
        input {
            margin: 1px auto 0 -20px !important;
        }
    }
}

.woocommerce form.checkout_coupon {
    background: #fff;
    border-radius: 0;
    border: none;
    margin: 0 auto 20px; 
    input {
        border: 1px solid $primary;
        border-radius: 0;
        height: 42px;
        box-shadow: none;
    }
}

@media (max-width: 992px) {
	
.summary {
    padding: 20px;
	width: 100%;
	float: left !important;
}
	
}


@media (max-width: 992px) {
	
#add-to-cart ul.mini-cart li:hover ul.cart_list.active {
     display: none!important;
    visibility: hidden!important;
}
	
	
	
}
