/*
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Regular.ttf');
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
*/
