@font-face {
	font-family: 'Generell TW-Regular';
	font-weight: 100;
	src: url('../../fonts/generell/Generell TW-RegularWeb.woff') format('woff'),
		 url('../../fonts/generell/Generell TW-RegularWeb.eot') format('embedded-opentype');
}
@font-face {
	font-family: 'Proxima N W15 Smbd';
	font-weight: 400;
	src: url('../../fonts/proxima/Proxima N W15 Smbd.woff2') format('woff2'),
		 url('../../fonts/proxima/Proxima Nova W15 Semibold.woff') format('woff'),
		 url('../../fonts/proxima/Proxima Nova W15 Semibold.ttf') format('truetype'),
		 url('../../fonts/proxima/Proxima N W15 Smbd.svg') format('svg');
}
/*
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Regular.ttf');
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
*/

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order,
.site h1,
.site h2,
.site h3,
.site h4,
.site h5,
.site h6,
.star-heading,
#theme-nav,
#masthead,
body.theme--esters th,
#order-online-modal nav,
#theme-header__online-shops button,
.modal .modal__close-btn,
.woocommerce form .form-row label, .woocommerce-page form .form-row label,
#content .entry-content .woocommerce .btn,
.page--our-menu #content .entry-content > p,
.press-columns .wp-block-image > a::after,
.sans-semibold {
	font-family: "Proxima N W15 Smbd", Proxima, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}

#home-slideshow li > h2,
#home-slideshow li > h3 {
	font-family: "Generell TW-Regular", Garamond, serif;
	text-shadow: #000 2px 1px 8px;
}

#footer__family-heading,
#order-online-modal h1,
#order_review td label,
.page--our-menu #content .menu-tabs h4,
.menu-tabs .tabs__title,
body.theme--esters,
.site button,
.site .wp-block-button__link,
#content .wp-block-button .wp-block-button__link,
.site .btn {
	font-family: "Generell TW-Regular", Garamond, serif;
}
#order-online-modal h1,
.site button,
#content .wp-block-button .wp-block-button__link,
.site .btn {
	font-weight: 100;
}
