@font-face {
	font-family: 'Generell TW-Regular';
	font-weight: 100;
	src: url('../../fonts/generell/Generell TW-RegularWeb.woff') format('woff'),
		 url('../../fonts/generell/Generell TW-RegularWeb.eot') format('embedded-opentype');
}
@font-face {
	font-family: 'Proxima N W15 Smbd';
	font-weight: 400;
	src: url('../../fonts/proxima/Proxima N W15 Smbd.woff2') format('woff2'),
		 url('../../fonts/proxima/Proxima Nova W15 Semibold.woff') format('woff'),
		 url('../../fonts/proxima/Proxima Nova W15 Semibold.ttf') format('truetype'),
		 url('../../fonts/proxima/Proxima N W15 Smbd.svg') format('svg');
}
/*
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Regular.ttf');
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Lora';
	src: url('../../fonts/Lora/Lora-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Italic.ttf');
	font-style: italic;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
*/

.site h1,
.site h2,
.site h3,
.site h4,
.site h5,
.site h6,
.star-heading,
#theme-nav,
#masthead,
.press-columns .wp-block-image > a::after,
.sans-semibold {
	font-family: "Proxima N W15 Smbd", Proxima, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}

#home-slideshow li > h2,
#home-slideshow li > h3 {
	font-family: "Generell TW-Regular", Garamond, serif;
	text-shadow: #000 2px 1px 8px;
}

body,
.site button,
.site .btn {
	font-family: "Generell TW-Regular", Garamond, serif;
}
