#colophon {
	margin-bottom: 0.3rem;
}
#colophon > h2 {
	text-align: center;
}
#footer__family-heading {
	text-transform: uppercase;
	margin-top: 0.9em;
	margin-bottom: 0;
}
#colophon > .columns {
	font-size: 0.8rem;
	line-height: 1.5;
	max-width: 1160px;
	padding: 0 10px;
	margin: auto;
}
#colophon > .columns p {
	margin: 0;
}
#colophon > .columns h3 {
	font-size: 1em;
	margin: 0 0 0.6em;
}
