#theme-footer__legal {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
	line-height: 1.5;
	border-top: 1px solid currentColor;
	margin-top: 0.6em;
	padding: 0 10px;
}
#theme-footer__legal a {
    white-space: nowrap;
}
#theme-footer__legal .separator {
	font-size: 1.6em;
	line-height: 0;
	position: relative;
	vertical-align: middle;
	top: 1px;
}
#legal__copyright {
}
@media (min-width: 500px) {
	#theme-footer__legal {
		font-size: 0.71rem;
		line-height: 1.4;
	}
}
@media (min-width: 768px) {
	#theme-footer__legal {
		font-size: 0.82rem;
		line-height: 1.3;
	}
}
