#theme-footer__newsletter > h3 {
	font-size: 0.8em;
	letter-spacing: 1px;
}
#theme-footer__newsletter h5 {
	display: none;
}
#mc_embed_signup_scroll {
	display: flex;
	max-width: 300px;
}
#theme-footer__newsletter input[type="email"] {
	padding: 0.2em 0.5em;
	color: inherit;
	border-color: currentColor;
	flex-grow: 1;
	margin-right: 5px;
}
#theme-footer__newsletter input[type="submit"] {
	border-radius: 0;
	font-size: 0.7em;
	padding: 1em 1.1em;
	letter-spacing: 1px;
	font-weight: 600;
}
