#masthead,
#theme-nav,
#menu-main-menu {
	flex-direction: column;
}
#masthead {
	align-items: flex-start;
	z-index: 10;
	transition: margin 0.2s ease-out 0s;
}
#theme-nav {
	position: absolute;
	opacity: 0;
	z-index: 5;
	padding-top: 1em;
	padding-bottom: 1em;
	left: 0;
	right: 0;
	top: 0; /* set to header height using js */
	transform: translateY(-100%);
	transition: transform 0.2s ease-out 0s, opacity 0.1s linear 0s;
}
#menu-main-menu {
	text-align: center;
}
#theme-nav > hr {
	display: none;
}
#theme-header__logo {
	margin: 0;
	transition: margin 0.2s ease-out 0s;
}
#theme-header__online-shops {
	left: 1em;
	right: auto;
}
#theme-header__bird {
	display: none;
}
#theme-header__account {
	position: absolute;
	right: 1.2em;
	top: calc(10vw + 1.7em);
	transform: translateX(calc(100% + 2em));
	transition: transform 0.2s ease-out;
}
#theme-header__user a:last-child {
	display: none;
}
#theme-header__online-shops {
	transform: translateY(-100%);
	transition: transform 0.2s ease-out;
}
#theme-header__online-shops button {
	margin: 0.5em 0.8em 0.4em;
}

/* menu height must be set using js */
body:not([data-is-burger-expanded="true"]) #masthead {
	margin-bottom: 0 !important;
}
body[data-is-burger-expanded="true"] #theme-nav {
	opacity: 1;
	transform: translateY(2.7em) !important; /* add extra spacing from account buttons */
	transition: transform 0.2s ease-out 0s, opacity 0.2s linear 0.1s;
}
body[data-is-burger-expanded="true"] #theme-header__online-shops {
	transform: translateY(0);
}
body[data-is-burger-expanded="true"] #theme-header__logo {
	margin-top: 2.7em;
}
body[data-is-burger-expanded="true"] #theme-header__account {
	transform: translateX(0);
}
body:not([data-is-burger-expanded="true"]) .burger-collapse-btn,
body[data-is-burger-expanded="true"] .burger-expand-btn {
	visibility: hidden;
}


@media (min-width: 520px) {
	#masthead {
		align-items: center;
	}
	#theme-header__logo {
		margin-left: 60px;
	}
	#theme-header__bird {
		display: block;
		position: absolute;
		left: 7%;
		bottom: 0;
	}
}


@media (min-width: 520px) {
	#theme-header__account {
		position: absolute;
		right: 4em;
		top: 1.3em;
		transform: translateY(-4em);
		transition: transform 0.2s ease-out;
	}
	body[data-is-burger-expanded="true"] #theme-header__account {
		transform: translateY(0);
	}
}


@media (min-width: 768px) {
	#masthead,
	#theme-nav,
	#menu-main-menu {
		flex-direction: row;
	}
	#masthead {
		align-items: flex-end;
	}
	#theme-header__bird {
		position: static;
		margin-left: 1em;
	}
	#theme-header__logo {
		margin: 0.5em auto 0;
	}
	#theme-header__online-shops {
		left: auto;
		right: 1.9em;
	}
	#theme-header__account {
		position: static;
		transform: none;
		margin-right: 1em;
	}
	#theme-header__user a:last-child {
		display: inline;
	}
	#theme-header__online-shops {
		transform: translateY(0);
	}
	#theme-header__online-shops button {
		margin: 0.9em 0.8em 0.8em;
	}
	#masthead .burger-btn {
		display: none;
	}
	#theme-nav {
		opacity: 1;
		transform: none;
		padding-top: 0;
		padding-bottom: 0;
		position: sticky;
		top: 0;
		z-index: 30;
		font-size: 0.6em;
	}
	.admin-bar #theme-nav {
		top: 32px;
	}
	#theme-nav .menu-main-menu-container {
		margin: 0.5em auto;
	}
	#theme-nav .search-form {
		font-size: 0.8em;
		margin-right: 0.8em;
	}
	#theme-nav > hr {
		display: block;
	}
}

@media (min-width: 768px) {
	#theme-nav {
		font-size: 0.7em;
	}
}
