body[data-has-modal="true"] {
	overflow: hidden;
}
body .modal {
	color: white;
	position: fixed;
	height: auto;
	padding: 9% 10px;
	overflow: auto;
	z-index: 100;
	transform: translateY(-100%);
	transition: transform 0.2s ease-out 0s;
}
body .modal.visible {
	transform: translateY(0) !important;
	transition: transform 0.2s ease-out 0.1s;
}
.modal .modal__close-btn {
	text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.9em;
	letter-spacing: 3px;
	padding: 0.8em 1.2em;
}

@media screen and (max-width: 782px) {
	.admin-bar .modal {
		top: 46px;
		transform: translateY(calc(-100% - 46px));
	}
}
@media screen and (min-width: 783px) {
	.admin-bar .modal {
		top: 32px;
		transform: translateY(calc(-100% - 32px));
	}
}
@media (min-width: 768px) {
	.modal .modal__close-btn {
		font-size: 1em;
		padding: 1em 1.6em;
	}
}
