.nav-justified {
	width: 100%;
	text-align: center;
	> li {
		float: none;
		display: inline-block;
		width: initial;
		a {
			padding: 15px 15px;
		}
	}
}

#order-online {
	position: absolute;
	top: 0;
	right: 10%;
	z-index: 1000;
	padding: 0 1px 1px;
	background: #f6f4eb;
	border-right: 3px solid #a08068;
	border-bottom: 3px solid #a08068;
	border-left: 3px solid #a08068;
	h2 {
		margin: 0 0 2px;
		font-family: "Times New Roman", Times, serif;
		font-size: 26px;
		color: #a08068;
	}
	p {
		margin: 0;
	}
	p:first-of-type a {
		background: url(../images/dot.svg) center bottom / 5px auto repeat-x;
	}
	a {
		display: inline-block;
		padding: 3px 0;
		font-family: Proxima N W15 Smbd;
		font-size: 20px;
		text-transform: uppercase;
	}
}

#order-online-inside {
	padding: 15px 30px 5px;
	border-right: 2px solid #a08068;
	border-bottom: 2px solid #a08068;
	border-left: 2px solid #a08068;
	text-align: center;
}

@media screen and (max-width: 700px) {
	#order-online {
		position: static;
		border-right: none;
		border-left: none;
	}
	#order-online-inside {
		padding: 15px 0 5px;
		border-right: none;
		border-left: none;
	}
	#order-online a {
		padding: 6px 0;
	}
}

@media (max-width:992px) {
	#order-online {
		right: auto;
		left: 7%;
	}
	#order-online-inside {
		padding: 7px 25px 4px;
	}
	#order-online h2 {
		font-size: 20px;
	}
	#order-online a {
		font-size: 16px;
	}
}

