.page-template-template-private-events {
    .contact {
        position: relative;
        z-index: 10;
        background: #f6f4eb;
    }
    
    .content {
        border: none;
    }
    .banner {
        border-bottom: 1px solid #bf9d3e;
    }
}


@mixin transition() {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@mixin easeOut {
    transition: all 0.8s ease-in;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

/* UPDATED PRIVATE DINING */

.private-dining, .holiday-lunch-event {
    header {
        margin-top: 0;
    }   
}

.private-dining, .holiday-lunch-event {
	.wpcf7-date {
		position: relative;	
	}

	div.wpcf7-mail-sent-ok {
		display: none !important;
	}
	
	div.wpcf7-validation-errors {
		border: 2px solid #bf9d3e;
		background: #bf9d3e;
		color: white;
		padding: 20px;
		text-align: center;
	}
    
    
    header {
        position: relative;
        z-index: 9;
        background: #fcfaf6; 
    }
    .page-header {
        margin: 0 auto;
        position: relative;
        z-index: 9;
        background: #fcfaf6; 
    }
    .content-info {
        position: relative;
        z-index: 9;
        background: #fcfaf6;
		bottom: -2px;
    }
    #details  {
        
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        position: relative;
        &:before {
            position: absolute;
            content: "\f3d3";
            left: -15px;
            font-family: "Ionicons";
            line-height: 16px;
            top: 2px;
        }
        &.active {
            &:before {
                content: "\f2d7";
            }
        }
    }

    #menu {
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
                li {
                    @include transition();
                    a {
                        margin: 0 auto 5px;
                        display: block;
                        font-size: 16px;
                        @include transition();
                        margin-left: 0;
                        position: relative;
                        &.active {
                           
                            position: relative;
                            margin-left: 30px;
                                &:before {
                                    font-family: "Ionicons";
                                    position: absolute;
                                    content: "\f3d6";
                                    font-size: 24px;
                                    line-height: 18px;
                                    top: 5px;
                                    left: -30px;
                                    opacity: 1;
                                    @include transition();
                                } 
                        }
                    }
                }
        }
    }
    .right-column-pd {
        padding: 40px;
        max-width: 600px;
        .entry-head {
            display: inline-block;
           
            letter-spacing: 3px;
            border-bottom: 1px solid #bf9d3e;
            padding-bottom: 10px;
            margin: 0 auto 20px;
            font-size: 24px;
            text-transform: uppercase;
        }
        
        .sub-head {
           border-bottom: 1px solid #bf9d3e;
            padding-bottom: 10px;
            margin: 30px auto 20px;
            font-size: 24px;
            text-transform: uppercase; 
            letter-spacing: 3px;
        }
    }
    .slide-container {
        position: relative;
       height: 100vh;
    
    }

    .bx-wrapper {
        box-shadow: none;
        border: none;
        background: none;
        margin: 0 auto;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
         height: 100vh;
        z-index: 3;
        // top: 10px;
      
    }
    

    .bxslider {
        .item {
            position: relative;
             height: 100vh;

            &.active {
                opacity: 1;
            }
            &:nth-child(2) {
                   background: url(../images/rickpoon-IMG_8702.jpg) no-repeat center;
                background-size: cover;
            }
            &:nth-child(3) {
                background: url(../images/rickpoon-IMG_8564.jpeg) no-repeat center;
                background-size: cover;
            }
            &:nth-child(4) {
				background: url(../images/private-dining-bg.jpg) no-repeat center;
                background-size: cover;
            }
            &:nth-child(5) {
                background: url(../images/rickpoon-IMG_8584.jpg) no-repeat center;
				
                background-size: cover;
            }
            &:nth-child(6) {
				background: url(../images/rickpoon-IMG_8831.jpeg) no-repeat center;
             
                background-size: cover;

            }

            
            &:nth-child(7) {
				background: url(../images/rickpoon-IMG_8700.jpeg) no-repeat center;
                
                background-size: cover;
            }
            &.holiday-bg {
				background: url(../images/private-dining-bg.jpg) no-repeat center;
                background-size: cover;
            }
            &:before {
                content: '';
                position: absolute;
                @include transition();
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.5);
                opacity: 0;
            }
            &.darken {
                @include transition();
                &:before {
                    opacity: 1;
                }
            }
           .center-item {
                position: absolute;
                height: 200px;
                top: 50%;
                left: 0;
                width: 100%;
                padding: 20px 60px;
                text-align: center;
				-webkit-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
               &.taller {
                   top: 40%;
               }
                h2 {
                  
                    font-size: 34px;
                    color: white;
                    letter-spacing: 0;
                    border-bottom: 1px solid #fff;
                    display: inline-block;
                    padding-bottom: 10px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
               ul li {
                   font-size: 18px;
                   line-height: 1.3;
               }
               .additional-desc, h2, a, p {
                    color: #fff;
                    position: relative;
                    z-index: 9;
               }
               .additional-desc {
                    max-height: 0;
                    overflow: hidden;
                    -webkit-transition: max-height 1.2s;
                    -moz-transition: max-height 1.2s;
                    transition: max-height 1.2s;
                    overflow: hidden;
                    // opacity: 0;
                    -webkit-transition: 1.2s ease-in-out;
                    -moz-transition: 1.2s ease-in-out;
                    -o-transition: 1.2s ease-in-out;
                    transition: 1.2s ease-in-out;
                    p {         
                        font-size: 18px;
                    }
               }
               &.active {
                   .additional-desc {
                        max-height: 300px;
                        opacity: 1;
                   }
               }

            }
            &.active {
                .center-item {
                    opacity: 1;
                }
            }

        }
    }
}

.offset-width {
    margin-bottom: 10px;
}

 .private-dining .scroll-down:before {
    font-family: Ionicons;
    position: absolute;
    content: "\f3d6";
    right: 0;
    font-size: 24px;
    line-height: 30px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 30px;
    height: 30px;
    top: -6px;
}


.private-dining .scroll-down {
    position: fixed;
    left: 25%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    bottom: 70px;
    height: 20px;
    color: #fff;
    z-index: 99;
}
 .private-dining .scroll-down:hover:before {
    right: -10px;
}

 .private-dining .scroll-down:hover {
    color: #fff;
}


/* Forms */

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .wpcf7 input[type="number"], .wpcf7 input[type="date"], .wpcf7 textarea {
	border: 2px solid #bf9d3e;
	padding: 5px 10px;
	border-radius: 0;
	box-shadow: none !important;
}

.wpcf7 input[type="submit"] {
	border: 2px solid #bf9d3e;
	padding: 7px 30px;
	background: #fff;
	border-radius: 0;
}
.wpcf7 input[type="submit"]:hover {
	border: 2px solid #bf9d3e;
	padding: 7px 30px;
	background: #bf9d3e;
	color: #fff;
}

.wpcf7 input, .wpcf7 textarea {
    width: 100%;
}


.form-control.wpcf7-select {
   
    border: 2px solid #bf9d3e;
    border-radius: 0;
   
}


//Shop Landing
.shop-section {
    margin: 0;
    background: url(../images/esters-shop-bg.jpg) repeat 50%;
    -webkit-background-size: 40px;
    background-position: fixed;
    padding: 60px 0;
    border-top: 1px solid #bf9d3e;
.wrapper {
     background: #fff;
    border: 1px solid $primary;
    padding: 40px 40px 0;
    
    .entry {
        border: 1px solid #bf9d3e;
        padding: 30px;
        position: relative;
        text-align: center;
        height: 100%;
       background: #f6f4eb;
       
        &:after {
        content: "";
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        border: 3px solid #bf9d3e;
        z-index: 1;
    }
        
        
        h3 {
        display: inline-block;
        letter-spacing: 3px;
        padding-bottom: 10px;
        font-size: 24px;
        text-transform: uppercase;
        }
        
        .img-holder {
         margin: 0;
        position: absolute;
        right: 0;
        top: 70px;
        z-index: 10;
      }
        
        .btn.btn-outline {
         color: #fff;
        width: 130px;
            text-transform: uppercase;
    
        }
        
        .btn.btn-outline:before, .btn.btn-outline:before {
                width: 100%;
                right: auto;
                left: 0;
            }
        
          
        .btn.btn-outline:focus, .btn.btn-outline:hover {
                color: #bf9d3e;
        }
        
        .btn.btn-outline:focus:before, .btn.btn-outline:hover:before {
                width: 0%;
                right: auto;
                left: 0;
            }
        
        
        
        
    }
}
    
    .meta-products {
        margin-top: 60px;
    }
    
    
}


@media (max-width: 768px) {

    header {
        margin-top: 0;
    }
	
	
	.shop-section .wrapper {
   
   	 padding: 0;
		
		
		.list-inline>li {
    	display: block;
   
		}
		
		
	.entry .btn.btn-outline {
   		 width: 100%;
    	}
		
	.equalHeights [class*='col-'] {
			
		height: inherit !important;
		}
		
		
		
		
}
  
    
.wrap {
	width: 100% !important;
	overflow-x: hidden !important;
}

.private-dining .bx-wrapper {
	border-top: none;
}

.wpcf7-date:before {
	display: none;
}
	
.private-dining {
    header {
        z-index: auto;
    }
    .slide-container {
    height: 100%;
}
    
.bx-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: auto;
}
.bxslider .item .center-item h2 {
   
    font-size: 36px;
    }
.bx-wrapper .item {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 420px;
}
    
.scroll-down {
    bottom: 20px;
}
    
.bx-wrapper .item .center-item {
    margin: 0 auto;
    position: relative;
    height: 100%;
}
    
.bxslider .item .center-item {
    padding: 20px;
}

.bxslider .item .center-item .additional-desc p {
    font-size: 14px;
}
		
 
.Occassion .wpcf7-text  {
    margin-bottom: 10px;
}
    
.scroll-down {
    position: absolute;
    left: 50%;
}
    
.right-column-pd {
    padding: 20px;
}
}
    
}


	