.page--about .entry-content > .text-columns:first-child {
	margin-bottom: 6rem;
}
.page--about .entry-content figure {
	margin-top: 0;
	margin-bottom: 4px;
}
.page--about .entry-content > figure img {
	width: 100%;
	height: auto;
}
.page--about .entry .entry-content .wp-block-columns .wp-block-column:not(:first-child) {
	margin-left: 4px;
}
.page--about .entry .entry-content .wp-block-columns {
	margin-top: 0;
	margin-bottom: 0;
}
.page--about .entry .entry-content .wp-block-column {
	flex-basis: calc(50% - 2px);
	margin-bottom: 0;
}
.page--about .wp-block-gallery .blocks-gallery-image,
.page--about .wp-block-gallery .blocks-gallery-item {
	margin-bottom: 0 !important;
}

/* hide press images until js makes the columns */
.page--about:not(.content-mods-finished) .entry-content > h2 ~ figure {
	display: none;
}

.page--about .press-heading {
	margin-top: 4rem;
}
.page--about .press-columns {
	grid-gap: 1.5rem;
}
.press-columns .wp-block-image a,
.press-columns .wp-block-image img {
	display: block;
}
.press-columns .wp-block-image figcaption a,
.press-columns .wp-block-image figcaption {
	color: inherit;
}
.press-columns .wp-block-image > a {
	position: relative;
}
.press-columns .wp-block-image > a::before,
.press-columns .wp-block-image > a::after {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.4s linear;
}
.press-columns .wp-block-image > a::before {
	content: ' ';
	top: 0;
	height: 100%;
}
.press-columns .wp-block-image > a::after {
	z-index: 2;
	top: 50%;
	text-transform: uppercase;
	content: 'Read more';
	color: white;
	text-align: center;
	font-size: 1.1em;
	margin-top: -0.2em;
	letter-spacing: 2px;
}

.press-columns .wp-block-image figcaption {
	margin: 0;
	font-size: 1em;
}
.press-columns .wp-block-image img {
	position: relative;
	z-index: 3;
	height: 19vw;
	object-fit: contain;
	transition: opacity 0.4s linear;
}

#colophon .wp-block-button {
	margin-top: 2em;
	font-size: 1.5em;
}

.press-columns .wp-block-image > a:hover::before,
.press-columns .wp-block-image > a:hover::after {
	opacity: 1;
}
.press-columns .wp-block-image > a:hover::after {
	transition: opacity 0.2s 0.2s linear;
}
.press-columns .wp-block-image > a:hover img {
	opacity: 0;
}
