.page--about.page-template #main {
	padding-bottom: 0;
	border-bottom-style: none;
}
.page--about .entry-content > .text-columns:first-child {
	margin-bottom: 6rem;
}
.page--about .entry-content figure {
	margin-top: 0;
	margin-bottom: 4px;
}
.page--about .entry-content > figure img {
	width: 100%;
	height: auto;
}
.page--about .entry .entry-content .wp-block-columns .wp-block-column:not(:first-child) {
	margin-left: 4px;
}
.page--about .entry .entry-content .wp-block-columns {
	margin-top: 0;
	margin-bottom: 0;
}
.page--about .entry .entry-content .wp-block-column {
	flex-basis: calc(50% - 2px);
	margin-bottom: 0;
}
.page--about .entry .entry-content > .wp-block-button:last-child {
	display: none;
}
.page--about .wp-block-gallery .blocks-gallery-image,
.page--about .wp-block-gallery .blocks-gallery-item {
	margin-bottom: 0 !important;
}

/* hide press images until js makes the columns */
.page--about:not(.content-mods-finished) .entry-content > h2 ~ figure {
	display: none;
}

.page--about .press-heading {
	margin-top: 4rem;
}
#press-articles {
    margin: 2rem auto;
    max-width: 1110px;
    padding: 1rem;
}
#press-articles h2 {
    margin-top: 0;
}
#press-articles .columns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.2rem;
	grid-auto-flow: unset;
	text-align: center;
}
#press-articles .entry {
	margin: 0;
}
#press-articles .entry a,
#press-articles .entry img {
	display: block;
}
#press-articles .entry a,
#press-articles .entry figcaption {
	color: inherit;
}
#press-articles .entry a {
	position: relative;
}
#press-articles .entry main a::before,
#press-articles .entry main a::after {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.4s linear;
}
#press-articles .entry main a::before {
	content: ' ';
	top: 0;
	height: 100%;
}
#press-articles .entry main a::after {
	z-index: 2;
	top: 50%;
	text-transform: uppercase;
	content: 'Read more';
	color: white;
	text-align: center;
	font-size: 1.1em;
	margin-top: -0.2em;
	letter-spacing: 2px;
}
#press-articles .entry footer {
    font-size: 0.7em;
    margin-top: 0.7em;
}
/*
.press-columns .wp-block-image figcaption {
	margin: 0;
	font-size: 1em;
}
*/
#press-articles img {
	position: relative;
	z-index: 3;
	width: 100%;
	height: auto;
	min-height: 33vw;
	object-fit: contain;
	object-position: center bottom;
	transition: opacity 0.4s linear;
}

#colophon .wp-block-button {
	margin-top: 2em;
	font-size: 1.5em;
}

#press-articles .entry:hover a::before,
#press-articles .entry:hover a::after {
	opacity: 1;
}
#press-articles .entry:hover a::after {
	transition: opacity 0.2s 0.2s linear;
}
#press-articles .entry:hover img {
	opacity: 0;
}
/*
.press-columns .wp-block-image > a:hover::before,
.press-columns .wp-block-image > a:hover::after {
	opacity: 1;
}
.press-columns .wp-block-image > a:hover::after {
	transition: opacity 0.2s 0.2s linear;
}
.press-columns .wp-block-image > a:hover img {
	opacity: 0;
}
*/
@media (min-width: 640px) {
	#press-articles .columns {
		grid-template-columns: repeat(3, 1fr);
	}
	#press-articles img {
		min-height: 25vw;
	}
}
@media (min-width: 860px) {
	#press-articles .columns {
		grid-template-columns: repeat(4, 1fr);
	}
	#press-articles img {
		min-height: 18vw;
	}
}
@media (min-width: 1086px) {
	#press-articles img {
		min-height: 176px;
	}
}
