.cart_totals,
.woocommerce-cart-form {
	font-size: 0.9em;
}
#content .cart_totals th,
#content .cart_totals td,
#content .woocommerce-cart-form th,
#content .woocommerce-cart-form td {
	background-color: transparent;
}
.cart_totals th,
.woocommerce-cart-form th {
	font-size: 0.8em;
	text-align: left;
}
#content .woocommerce-cart-form td.actions,
.woocommerce-cart-form th {
	border-top-style: none;
}
.woocommerce-cart-form tr:last-child td {
	border-bottom-style: none;
}
#content .woocommerce-cart-form .product-thumbnail img {
	max-width: none;
	width: auto;
	height: 100px !important;
}
.woocommerce-cart-form .product-remove a {
	background-color: transparent;
	color: red;
}

#content .woocommerce .cart_totals .btn,
#content .woocommerce .woocommerce-cart-form .btn {
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 1px;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
	margin-top: 2rem;
}
.cart_totals .wc-proceed-to-checkout {
	text-align: right;
	margin-bottom: 0.6em;
}

@media only screen and (max-width: 768px) {
	#content .woocommerce-cart-form .shop_table_responsive tr {
	}
	#content .cart-collaterals tr {
		margin-bottom: 1rem;
	}
	#content .cart-collaterals tr td:last-child {
		border-bottom-style: none;
	}
	#content .woocommerce-cart-form .product-name a {
		font-size: 0.8em;
	}
	#content .woocommerce-cart-form .quantity input {
		font-size: 0.7em;
		width: 2.2rem;
	}
	#content #shipping_method {
		margin: 2rem 0 0 auto;
		clear: both;
		text-align: left;
	}
	#content #shipping_method li {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}
	#content #shipping_method input {
		margin: 0 0.7em 0 0;
	}
	#content #shipping_method label {
		line-height: 1.2;
	}
}

@media (min-width: 769px) {
	.cart_totals .wc-proceed-to-checkout {
		text-align: center;
		margin-bottom: 1.2em;
	}
}
