.woocommerce-checkout h1.entry-title {
	color: inherit;
	border-style: none;
}

form.woocommerce-checkout {
	position: relative;
	font-size: 0.8em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}
#customer_details.col2-set > div {
	float: none;
	width: auto;
}
#order_review_heading {
	position: absolute;
	top: 0;
	left: calc(50% + 1rem);
}
#order_review {
	grid-column: 2;
	padding-top: 3rem;
}

#order_review_heading,
#customer_details h3 {
	font-size: 1.25em;
}

#customer_details h3 {
	margin-top: 0;
}
form.woocommerce-checkout label {
	font-size: 0.9em;
}

#order_review .woocommerce-checkout-review-order-table {
	width: auto;
}
#order_review th,
#order_review td {
}
#order_review td label {
}
.woocommerce-checkout-payment .button {
	font-size: 0.8em;
	letter-spacing: 1px;
}
#order_review #shipping_method li {
	font-size: 1em;
	margin-bottom: 0;
}
#order_review .wc_payment_method {
	font-size: 1em;
}
.wc_payment_method .payment_box {
	padding-top: 1px;
	padding-bottom: 1px;
}

.woocommerce-form-coupon {
	margin-bottom: 2rem;
	font-size: 0.9em;
}
#content .entry-content .woocommerce .woocommerce-form-coupon p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
#content .entry-content .woocommerce .woocommerce-form-coupon .form-row {
	font-size: 0.8em;
	float: left;
	margin-right: 2em;
}
#content .entry-content .woocommerce .woocommerce-form-coupon .form-row-last {
}

.woocommerce-order-overview {
	font-size: 0.9em;
	list-style-position: inside;
	line-height: 1.8;
}
.woocommerce-order-details,
.woocommerce-customer-details {
	width: 48%;
}
.woocommerce-order-details {
	float: left;
}
.woocommerce-table--order-details {
	font-size: 0.8em;
}
.woocommerce-customer-details {
	float: right;
}
.woocommerce-customer-details address {
	font-size: 0.9em;
}

@media (max-width: 540px) {
	.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
		width: 100%;
		float: none;
	}
}
