.page--our-menu #theme-nav {
	margin-bottom: 0;
}
.page--our-menu #content .entry-header {
	display: none;
}
.page--our-menu #content .entry-content > .wp-block-separator {
	display: none;
}
.page--our-menu #content .entry-content > p {
	max-width: none;
	font-size: 0.775em;
	margin-bottom: 0;
	padding: 0.7em 0 0.5em;
	text-transform: uppercase;
	text-align: center;
}

.menu-tabs .tabs__titles {
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: unset;
	grid-gap: 0.2em 0.4em;
	font-size: 8vw;
}
.page--our-menu #content .entry-content .tabs__titles h2 {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 1px;
}
.page--our-menu #content .entry-content .tabs__titles h2[data-tab-name="happy-hour"] {
	grid-column: 1 / span 2;
	white-space: nowrap;
}
.page--our-menu #content .entry-content h2::before,
.page--our-menu #content .entry-content h2::after {
	display: none !important;
}
@media (min-width: 476px) {
	.menu-tabs .tabs__titles {
		font-size: 1.7em;
	}
}
@media (min-width: 640px) {
	.menu-tabs .tabs__titles {
		font-size: 4.4vw;
		grid-auto-flow: column;
		grid-template-columns: unset;
	}
	.page--our-menu #content .entry-content .tabs__titles h2[data-tab-name="happy-hour"] {
		grid-column: auto;
		white-space: normal;
		font-size: 0.8em;
		line-height: 0.9;
		word-spacing: -6px;
	}
}
@media (min-width: 860px) {
	.menu-tabs .tabs__titles {
		font-size: 1.7em;
		grid-gap: 0.2em 0.7em;
	}
}
@media (min-width: 980px) {
	.page--our-menu #content .entry-content .tabs__titles h2[data-tab-name="happy-hour"] {
		white-space: nowrap;
		font-size: 1em;
		line-height: inherit;
	}
}

.page--our-menu #content .menu-tabs {
	margin-top: 0;
	background-color: white;
	padding: 30px;
}
.page--our-menu #content .tabs__contents {
	font-size: 0.825em;
}
.page--our-menu #content .menu-tabs h3 {
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 2px;
	margin-bottom: 0;
	border-top: 1px solid currentColor;
	padding-top: 1em;
}
.page--our-menu #content .menu-tabs h3:first-child {
	border-style: none;
	padding-top: 0;
}
.page--our-menu #content .menu-tabs h4 {
	font-weight: 100;
	font-style: italic;
	margin-bottom: 0;
}
.page--our-menu #content .tabs__contents p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}
.page--our-menu #content .tabs__content > p {
	text-align: center;
	border-bottom: 1px solid currentColor;
	font-size: 0.9em;
	padding-bottom: 0.7em;
	margin-bottom: 1.5em;
}
