body.theme--esters .woocommerce-message {
	font-size: 0.75rem;
	background-color: white;
	display: flex;
	flex-direction: column;
}
body.theme--esters .woocommerce-message .button,
body.theme--esters .woocommerce-message .btn {
	order: 2;
	margin-top: 1em;
}
body.theme--esters .woocommerce-message .button {
	font-size: 0.7em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	body.theme--esters .woocommerce-message {
		text-align: center;
		flex-direction: row;
		align-items: center;
	}
	body.theme--esters .woocommerce-message .button,
	body.theme--esters .woocommerce-message .btn {
		margin-top: 0;
		margin-left: auto;
	}
}

