#order-online-modal {
	background-color: #01a29c;
}
#order-online-modal header {
	text-align: center;
	margin-top: 9%;
	color: #036465;
}
#order-online-modal header svg {
	width: 80%;
	max-width: 5rem;
	height: auto;
}
#order-online-modal header path {
	fill: currentColor;
}
#order-online-modal h1 {
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: 3px;
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}
#order-online-modal #order-online__logo svg {
	max-width: 10rem;
}
#order-online-modal nav {
	font-size: 1.5rem;
	text-transform: uppercase;
}
#order-online-modal nav ul {
	align-items: center;
}

