.page-template #main {
	padding-bottom: 2rem;
}
.page-template #main .entry-content {
	margin-top: 1rem;
}
.page-template #main .entry-content > *:first-child {
	margin-top: 0;
}
.page-template #main .entry-content > *:last-child {
	margin-bottom: 0;
}
.page-template .entry-header {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 3rem;
}
.page-template .entry-content a {
	text-decoration: none;
}
.page-template .entry-content a:not(.btn):hover {
	text-decoration: underline;
}
.page-template .entry-content > .wp-block-image img {
	width: 100%;
	height: auto;
}
