.page-template #main {
	padding-bottom: 2rem;
}
.page-template.content-bg-pattern #main {
	padding-bottom: 0;
	border-bottom-style: none;
}
.page-template #main .entry-content {
	margin-top: 1rem;
}
.page-template #main .entry-content > *:first-child {
	margin-top: 0;
}
.page-template #main .entry-content > *:last-child {
	margin-bottom: 0;
}
.page-template .entry-header {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 3rem;
}
.legal-page .entry-header {
	margin-bottom: 7%;
}
.page-template .entry-content a {
	text-decoration: none;
	box-shadow: none;
	outline-style: none;
}
.page-template .entry-content a:not(.btn):hover {
	text-decoration: underline;
}
.page-template .entry-content > .wp-block-image img {
	width: 100%;
	height: auto;
}

.entry.type-page > .entry-content > p {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	line-height: 1.4;
}
@media (min-width: 768px) {
	.entry.type-page > .entry-content > p {
		font-size: 1em;
		line-height: 1.2;
	}
}
