.theme--esters #main .products {
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}
.theme--esters #main .woocommerce-loop-product__title {
	letter-spacing: 2px;
	margin: 0.5em 0 0.2em;
}
.theme--esters #main ul.products .btn {
	font-size: 0.75em;
	margin-top: 0.6em;
}

.product-listing .woocommerce-pagination {
	text-align: center;
}
.product-listing #primary {
	background-color: white;
	border: 1px solid currentColor;
	padding: 1.5rem;
}
.product-listing #main .products {
	font-size: 0.85em;
}
.product-listing #main .products img {
	width: 100%;
}
.product-listing #main .woocommerce-loop-product__title {
	font-size: 0.95em;
}
