.page--shop-landing .entry-header {
	display: none;
}
.page--shop-landing.page #main .entry-content {
	max-width: 1020px;
}
.page--shop-landing .entry-content {
	background-color: white;
	padding: 0 2rem !important;
	border: 1px solid currentColor;
}
@media (min-width: 1020px) {
	.page--shop-landing #content #main .entry-content {
		margin-top: calc((100vw - 1020px) * 0.5);
		margin-bottom: calc((100vw - 1020px) * 0.5);
	}
}
@media (min-width: 1140px) {
	.page--shop-landing #content #main .entry-content {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.page--shop-landing .wp-block-columns {
	flex-direction: column;
	padding-bottom: 2rem;
}
.page--shop-landing #main .wp-block-column {
	position: relative;
	padding: 2rem;
	margin: 2rem 0 0;
}
.page--shop-landing #main .wp-block-column:first-child {
	margin-left: 0 !important;
}
.page--shop-landing #main .wp-block-column:last-child {
	margin-right: 0 !important;
}
@media (min-width: 720px) {
	.page--shop-landing .wp-block-columns {
		flex-direction: row;
		padding-bottom: 0;
	}
	.page--shop-landing #main .wp-block-column {
		margin: 2rem 1rem 0;
		flex-basis: calc(50% - 1rem);
	}
}

.page--shop-landing .wp-block-column::before {
	border-width: 1px;
}
.page--shop-landing .wp-block-column::after {
	border-width: 3px;
}

.page--shop-landing .wp-block-column h2::before,
.page--shop-landing .wp-block-column h2::after {
	display: none !important;
}
.page--shop-landing .wp-block-column p {
	font-size: 0.825em;
	line-height: 1.5;
}
.page--shop-landing .wp-block-column .wp-block-handpicked-products {
	text-align: center;
	white-space: nowrap;
}
.page--shop-landing .wp-block-column .wc-block-grid__product-image {
	display: none;
}
.page--shop-landing .wp-block-column .wp-block-button,
.page--shop-landing .wp-block-column .wc-block-grid__products {
	justify-content: center;
	font-size: 0.75em;
}
.page--shop-landing .wp-block-column .wc-block-grid__product {
	max-width: none;
	text-transform: uppercase;
	margin: 0.7em 0.5em 0;
	padding: 0;
	flex-grow: 0;
	flex-basis: auto;
}
.page--shop-landing .wp-block-column .wc-block-grid__product-title {
	font: inherit;
	margin: 0;
}
.page--shop-landing #content .wp-block-button .wp-block-button__link {
	text-transform: uppercase;
	padding: 0.6em 1.3em 0.5em;
}
