.woocommerce-cart-form .coupon,
.single-product .product_meta,
.single-product .woocommerce-tabs,
.products .add_to_cart_button,
.woocommerce-ordering,
.woocommerce-result-count,
.woocommerce-products-header,
.woocommerce-breadcrumb {
	display: none;
}

body.theme--esters .woocommerce-error,
body.theme--esters .woocommerce-info,
body.theme--esters .woocommerce-message,
.single-product #main > .product .summary,
.product-listing .woocommerce-pagination,
body.theme--esters .price {
	font-family: inherit;
}

body.theme--esters .woocommerce-info,
body.theme--esters .woocommerce-message,
.woocommerce-loop-product__title,
.products .price {
	color: inherit !important;
}

.woocommerce-page #page li,
.woocommerce #page li,
.woocommerce-page #page p,
.woocommerce #page p {
	font-size: 1em;
	line-height: inherit;
}
.woocommerce-page #page p,
.woocommerce #page p {
	margin: 1em 0;
}
.woocommerce-page #page li,
.woocommerce #page li {
	margin-bottom: 0;
}
.woocommerce-page #page .entry-header,
.woocommerce #page .entry-header {
	margin-bottom: 7%;
}

.single-product form.cart input {
	border-color: currentColor;
}

.cart_totals,
.woocommerce-cart-form,
.woocommerce-order-overview,
.woocommerce-notice,
form.woocommerce-checkout,
.woocommerce-form-coupon {
	background-color: white;
	padding: 1rem;
}

.woocommerce #primary {
	margin: 0 calc(5% + 20px);
	max-width: 1160px;
}
.woocommerce #main {
	max-width: none;
}

body.theme--esters .woocommerce-info {
	background-color: white;
}

#content .woocommerce-table {
	width: auto;
}
#content .woocommerce th,
#content .woocommerce td {
	border-left-style: none;
	border-right-style: none;
	border-color: #eee;
	text-align: left;
}

.woocommerce address {
	font-style: normal;
}
