.page .entry-footer {
	display: none;
}
.site .site-content {
	margin-bottom: 1.2em;
}
.page #main .entry-content {
	max-width: 1140px;
}
.legal-page #main .entry-content {
	max-width: 960px;
}
.page .entry-content > .text-columns {
	column-count: 2;
	column-gap: 2em;
	font-size: 0.9em;
	column-gap: 2.5em;
	font-size: 0.85em;
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.4;
}
.entry-content .instagram__post {
	background: #bf9d3e url(../../../icons/instagram.svg) center center no-repeat;
	position: relative;
}
.entry-content .instagram-slider .slick-slide {
	margin: 0 4px;
}
.entry-content .instagram__post > svg,
.entry-content .instagram__post > img {
	transition: opacity 0.2s linear;
}
.entry-content .instagram__post > img {
	width: 100%;
	height: 280px;
	object-fit: cover;
}
.entry-content .instagram__post > svg {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 2;
	color: white;
	opacity: 0;
}
.entry-content .instagram__post:hover > svg {
	opacity: 0.8;
}
.entry-content .instagram__post:hover > img {
	opacity: 0.3;
}
.entry-content > div > .instagram__post {
	width: calc(25% - 5px);
}
.instagram__post > p {
	display: none;
}

.entry-content > .full-width {
	width: 100vw;
	margin-left: -10px;
}

.embedded-map {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
}
.embedded-map iframe {
	display: block;
	width: 100%;
	height: calc(100vw * 9 / 16);
	filter: grayscale(1);
}

.page .star-heading,
.page .entry-content h2,
.page-template .entry-title {
	font-size: 7vw;
}
@media (min-width: 346px) {
	.page .star-heading,
	.page .entry-content h2,
	.page-template .entry-title {
		font-size: 1.1rem;
	}
}

.content-bg-pattern #content {
	background-size: 60px auto;
	background-repeat: repeat;
	border-bottom: 1px solid currentColor;
}
.content-bg-pattern.page-template #content .entry-content {
	margin-top: 0;
	padding: 0;
}
@media (min-width: 1140px) {
	.content-bg-pattern.page-template #content .entry-content {
		padding-top: calc((100vw - 1140px) * 0.5);
		padding-bottom: calc((100vw - 1140px) * 0.5);
	}
}
@media (min-width: 1260px) {
	.content-bg-pattern.page-template #content .entry-content {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
