#masthead {
	display: flex;
	position: relative;
	font-size: 0.7em;
	padding: 0 10px;
	max-width: 1060px;
	margin: 0 auto;
	align-items: flex-end;
	overflow: hidden;
	text-transform: uppercase;
}
#theme-header__bird {
	max-width: 100px;
}
#theme-header__logo {
	font-size: 1em;
	line-height: 1;
	margin: 0.5em auto 0;
}

#theme-header__bird svg {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	top: 4px;
}

#theme-header__logo a {
	display: block;
}
#theme-header__logo svg {
	height: 140px;
	width: auto;
}

#theme-header__account {
	margin-bottom: 30px;
}
#theme-header__account,
#theme-header__cart,
#theme-header__user {
	display: flex;
	align-items: center;
}
#theme-header__cart__num {
	position: relative;
	padding: 0.3em;
	font-size: 0.8em;
	font-weight: 100;
	margin-right: 0.2em;
}
#theme-header__cart svg {
	font-size: 1.6em;
	margin-right: 0.7em;
}
#theme-header__user__icon {
	font-size: 1.8em;
	margin-right: 0.4em;
}

#theme-header__online-shops {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 0 0.5em 0.2em;
	white-space: nowrap;
}
#theme-header__online-shops::before,
#theme-header__online-shops::after {
	border-top-style: none;
}
#theme-header__online-shops::after {
	top: 0;
}
#theme-header__online-shops button {
    margin: 0.9em 0.8em 0.8em;
}
/*
#theme-header__online-shops nav {
	position: relative;
	z-index: 2;
}
#theme-header__online-shops li {
	display: flex;
	align-items: center;
}
#theme-header__online-shops li::before {
	content: '';
	width: 3px;
	height: 1em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
#theme-header__online-shops li:first-child::before {
	display: none;
}
#theme-header__online-shops a {
	display: block;
	padding: 0.5em 0.7em;
}
*/
