#theme-nav {
	font-size: 0.7em;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-bottom: 4px;
}
#theme-nav > hr {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: currentColor;
	color: inherit;
	margin: 0;
}

#theme-nav .menu-main-menu-container {
	margin: 0 auto;
}
#theme-nav .main-menu-more {
	display: none;
}
#theme-nav li {
	margin: 0 0.8em 0.5em;
}

#theme-nav .search-form {
	display: flex;
	align-items: center;
	font-size: 0.8em;
}
#theme-nav .search-field {
	text-transform: none;
	background-color: transparent;
	border-style: none !important;
	color: inherit;
	font-size: 1.4em;
	padding: 0;
	width: 100px;
}
#theme-nav .search-field::before,
#theme-nav .search-field::after {
	color: inherit;
	background-color: inherit;
}
#theme-nav .search-form button[type="reset"],
#theme-nav .search-form label {
	overflow: hidden;
	opacity: 0;
	width: 0;
	transition: opacity 0.2s linear 0s, width 0.1s linear 0.2s;
}
#theme-nav .search-form.active button[type="reset"],
#theme-nav .search-form.active label {
	opacity: 1;
	transition: opacity 0.2s linear 0.1s, width 0.1s linear 0s;
}
#theme-nav .search-form.active label {
	width: 7em;
}
#theme-nav .search-form button {
	font-size: 1.8em;
	display: inline-flex;
	height: 1.2em;
	padding-bottom: 0.1em;
}
#theme-nav .search-form button[type="reset"] {
	visibility: hidden;
}
#theme-nav .search-form.active button[type="reset"] {
	width: 28px;
}
#theme-nav .search-form:hover button[type="reset"],
#theme-nav .search-form:focus button[type="reset"] {
	visibility: visible;
}
#theme-nav .search-form button[type="reset"] svg {
	position: relative;
	top: 2px;
}
