/* dark brown color, light brown background color  */
.page--calendar #main .type-page.entry,
#theme-nav,
body.theme--esters {
    background-color: #f7f7ef;
    color: #614e1f;
}

.xdebug-error tr:first-child th {
    color: #007af5;
}

/* teal color */
::-webkit-search-cancel-button,
::-webkit-input-placeholder,
#theme-header__online-shops,
.woocommerce-page .entry-content mark,
.woocommerce-page .entry-content ins,
.menu-tabs .tabs__title,
.page--our-menu #content .menu-tabs h3,
.page--our-menu #content .menu-tabs h4,
#home-slideshow a:hover,
#theme-header__cart__num,
#theme-header__account,
#theme-header__user,
#theme-nav .current-menu-item a,
#theme-nav a:hover,
#masthead a:hover,
.woocommerce-account #page .woocommerce-MyAccount-navigation a:hover,
.site a {
    color: #007a74;
}

/* light blue color */
.page--our-menu #content .entry-content > .menu-tabs ~ p a {
    /* menu page content footer links */
    color: #d2fffe;
}

.site a:not(.btn):hover {
    color: #a16f68;
}

.theme--esters #main .products a:not(.btn) {
    color: inherit;
}

.menu-tabs .tabs__title:hover,
.menu-tabs .tabs__title.selected {
    color: #179f9a;
}

/* dark brown color */
#colophon .wp-block-button__link,
#content .entry-content .wp-block-button__link,
#content .entry-content .btn {
    color: #614e1f;
    background-color: white;
}

/* dark brown background */
#colophon .wp-block-button__link:hover,
#content .entry-content .wp-block-button__link:hover,
#content .entry-content .btn:hover,
#press-articles .entry main a::before,
.page--our-menu #content .entry-content > p,
.page--shop-landing #content .entry-content .btn,
.page--shop-landing #content .entry-content .wp-block-button__link,
.site input[type="submit"],
.site input[type="button"],
.site button,
#content .woocommerce .button,
#content .entry-content .woocommerce .btn,
.site .btn {
    color: white;
    background-color: #614e1f;
}

/* teal background */
#theme-header__cart__num,
#content .woocommerce .button:hover,
.page--shop-landing #content .entry-content .btn:hover,
.page--shop-landing #content .entry-content .wp-block-button__link:hover,
.site input[type="submit"]:hover,
.site input[type="button"]:hover,
.site button:hover,
.site .btn:hover {
    color: white;
    background-color: #007a74;
}

#home-slideshow a,
#theme-nav a,
#masthead a {
    color: inherit;
    text-decoration: none;
}
#theme-header__online-shops::before,
#theme-header__online-shops::after {
    border-color: #007a74;
}
#theme-header__online-shops li::before {
    border-left: 3px dotted #007a74;
}
#theme-header__cart svg {
    color: black;
}
.page-template #main {
    border-bottom: 1px solid #614e1f;
}

#order-online-modal h1,
#order-online-modal nav a,
.modal .modal__close-btn,
#home-slideshow h2,
#home-slideshow h3 {
    color: white;
}

.page--shop-landing .wp-block-column {
    background-color: #f6f4eb;
}

.single-product #main > .product .single_variation_wrap .woocommerce-Price-amount {
    color: #77a464;
}
