.page--calendar #main .type-page.entry,
#theme-nav,
body {
	background-color: #f7f7ef;
	color: #bf9d3e;
}
.xdebug-error tr:first-child th {
	color: #007af5;
}

::-webkit-search-cancel-button,
::-webkit-input-placeholder,
.menu-tabs .tabs__title,
.page--our-menu #content .menu-tabs h3,
.page--our-menu #content .menu-tabs h4,
#home-slideshow a:hover,
#theme-nav a:hover,
#masthead a:hover,
.site a {
	color: #a08068;
}
.site a:hover {
	color: #a16f68;
}
.menu-tabs .tabs__title:hover,
.menu-tabs .tabs__title.selected {
	color: #179F9A;
}

#colophon .wp-block-button__link,
#content .entry-content .wp-block-button__link,
#content .entry-content .btn {
	color: #bf9d3e;
	background-color: white;
}
#theme-header__cart__num,
#colophon .wp-block-button__link:hover,
#content .entry-content .wp-block-button__link:hover,
#content .entry-content .btn:hover,
.press-columns .wp-block-image > a::before,
.page--our-menu #content .entry-content > p,
.page--shop-landing #content .entry-content .btn,
.page--shop-landing #content .entry-content .wp-block-button__link,
.site input[type="submit"],
.site input[type="button"],
.site button,
.site .btn {
	color: white;
	background-color: #bf9d3e;
}
.page--shop-landing #content .entry-content .btn:hover,
.page--shop-landing #content .entry-content .wp-block-button__link:hover,
.site input[type="submit"]:hover,
.site input[type="button"]:hover,
.site button:hover,
.site .btn:hover {
	background-color: #a08068;
}
#home-slideshow a,
#theme-nav a,
#masthead a {
	color: inherit;
	text-decoration: none;
}
#theme-header__online-shops::before,
#theme-header__online-shops::after {
	border-color: #a08068;
}
#theme-header__online-shops li::before {
	border-left: 3px dotted #a08068;
}
#theme-header__cart svg {
	color: black;
}
.page-template #main {
	border-bottom: 1px solid #bf9d3e;
}

#home-slideshow h2,
#home-slideshow h3 {
	color: white;
}

.page--shop-landing .wp-block-column {
	background-color: #f6f4eb;
}
