body.theme--esters {
	font-size: 22px !important;
	line-height: 1.2;
	max-width: none;
	margin: 0 !important;
	padding: 0 !important;
}
body.theme--esters #page {
	overflow-x: hidden;
}

.page .entry-content h2,
.page-template .entry-title,
.site .star-heading {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
}
/* remove twentynineteen header bars */
h1::before,
h2::before {
	display: none !important;
}
@media (max-width: 539px) {
	/* allow star headings */
	h1:not(.star-heading)::before,
	h2:not(.star-heading)::before {
		display: none !important;
	}
}
@media (min-width: 540px) {
	.page .entry-content h2,
	.page-template .entry-title,
	.site .star-heading {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.page .entry-content h2::before,
	.page .entry-content h2::after,
	.page-template .entry-title::before,
	.page-template .entry-title::after,
	.site .star-heading::before,
	.site .star-heading::after {
		content: '*';
		display: inline !important;
		background-color: transparent;
		width: auto;
		height: auto;
		position: relative;
		font-size: 1.8em;
		line-height: 0;
		top: 0.2em;
		right: 0.1em;
	}
	.page .entry-content h2::after,
	.page-template .entry-title::after,
	.site .star-heading::after {
		right: auto;
		left: 0.1em;
	}
}
@media (min-width: 768px) {
	.page .entry-content h2::before,
	.page .entry-content h2::after,
	.page-template .entry-title::before,
	.page-template .entry-title::after,
	.site .star-heading::before,
	.site .star-heading::after {
		font-size: 1.5em;
	}
}

svg {
	width: 1em;
	height: 1em;
	line-height: 1;
	display: inline-block;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

button, input, select, optgroup, textarea, table {
	font-family: inherit;
	color: inherit;
}

select {
	background-color: white;
	border: 1px solid currentColor;
	padding: 0.3em;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
	background: white;
	border: solid 1px currentColor !important;
	box-sizing: border-box;
	outline: none !important;
	padding: 0.36em 0.66em;
	outline-offset: 0;
	box-shadow: none;
	border-radius: 0;
	-webkit-backface-visibility: hidden;
	-webkit-appearance: none;
}

body.theme--esters .woocommerce-message .button,
.site input[type="submit"],
.site input[type="button"],
.site button,
.site .btn {
	display: inline-block;
	padding: 0.5em 1em;
}
.site .slick-arrow,
.site .clean-btn {
	background-color: transparent;
	border-style: none;
	outline-style: none;
	color: inherit;
	padding: 0.3em;
}
.site .clean-btn {
	padding: 0;
}
.site .slick-arrow {
	padding: 0.3em;
}
.site .clean-btn,
.site .round {
	display: inline-block;
	box-sizing: content-box;
}
.site .round {
	width: 1em;
	bottom: 1em;
	line-height: 1;
}
.site .round {
	border-radius: 50%;
	text-align: center;
}
.wp-block-button__link {
	max-width: 80vw;
}

.columns {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}

.entry .entry-content, .entry .entry-summary,
.entry .entry-content > *, .entry .entry-summary > * {
	max-width: none;
}
.entry .entry-content, .entry .entry-summary {
	margin: 0 auto;
	padding: 0 10px;
}

#comments.comments-closed {
	display: none;
}

#content .slick-arrow {
	z-index: 2;
	font-size: 2rem;
	color: white;
	width: auto;
	height: auto;
	background-color: transparent;
}
#content .slick-arrow:hover {
	color: #bf9d3e;
}
#content .slick-arrow::before {
	display: none;
}
#content .slick-arrow.slick-prev {
	left: 0;
}
#content .slick-arrow.slick-next {
	right: 0;
}

.select2-selection--single,
.select2-selection {
	border-color: currentColor !important;
}
.select2-selection__rendered {
	color: inherit !important;
}
