body {
	line-height: 1.2;
}

/* remove twentynineteen header bars */
h1:not(.star-heading)::before,
h2:not(.star-heading)::before {
	display: none !important;
}
.site .star-heading {
	text-transform: uppercase;
	letter-spacing: 3px;
}
.site .star-heading::before,
.site .star-heading::after {
	content: '*';
	display: inline;
	background-color: transparent;
	width: auto;
	height: auto;
	margin: 0 0.15em;
	position: relative;
	top: 0.15em;
}

svg {
	width: 1em;
	height: 1em;
	line-height: 1;
	display: inline-block;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
}

.site input[type="submit"],
.site input[type="button"],
.site button,
.site .btn {
	display: inline-block;
	padding: 0.5em 1em;
}
.site .clean-btn {
	background-color: transparent;
	border-style: none;
	outline-style: none;
	color: inherit;
	padding: 0.3em;
}
.site .clean-btn,
.site .round {
	display: inline-block;
	box-sizing: content-box;
	width: 1em;
	bottom: 1em;
	line-height: 1;
}
.site .round {
	border-radius: 50%;
	text-align: center;
}

.columns {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}

.entry .entry-content, .entry .entry-summary,
.entry .entry-content > *, .entry .entry-summary > * {
	max-width: none;
}
.entry .entry-content, .entry .entry-summary {
	margin: 0 auto;
	padding: 0 10px;
}
